<h1>Shelter Names</h1>

<nav class="navigation">
  <%= link_to "New Shelter", "/shelters/new", class: "link" %>
</nav>

<body class="display">

  <% @shelters.each do |shelter| %>

  <p><section class="block" id="shelter-<%=shelter.id%>">


    <strong>Shelter Name: </strong> <strong><%= link_to shelter.name, "shelters/#{shelter.id}" %></strong><br>
    <%= link_to "Update Shelter", "/shelters/#{shelter.id}/edit"%><br>
    <% unless shelter.pets.any? { |pet| pet.adoption_status == "pending" } %>
    <%=   link_to "Delete Shelter", "/shelters/#{shelter.id}", method: :delete %>
    <% end %>
    </section>

  <% end %>

</body>
