
<h1>Shelter Information</h1>
<nav class="navigation">
  <%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit", class: "link" %>
  <% if @shelter.pets.none? { |pet| pet.applications {|application| applications.status == "approved"}} %>
    <%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete, class: "link" %>
  <% end %>
  <%= link_to "View Shelter's Pets", "/shelters/#{@shelter.id}/pets", class: "link" %>
  <%= link_to "New Review", "/shelters/#{@shelter.id}/reviews/new", class: "link" %>
</nav>
<p>
<strong>Count of Pets: <%=@shelter.count_of_pets%></strong><br>
<strong>Average Shelter Review Rating: <%=@shelter.average_rating%></strong><br>
<strong>Number of applications on file: <%=@shelter.number_of_applications%></strong><br>
</p>

<body class="display">
  <div class="show">
  <strong>Shelter Name: </strong><%= @shelter.name %><br>

  <strong>Shelter Address: </strong><%= @shelter.address %><br>

  <strong>Shelter City: </strong><%= @shelter.city %><br>

  <strong>Shelter State: </strong><%= @shelter.state %><br>

  <strong>Shelter Zip: </strong><%= @shelter.zip %>
  </div>

  <h2>Shelter Reviews</h2>
    <% @shelter.reviews.each do |review| %>
    <section id ="review-<%=review.id%>">
    <strong>Review Title: </strong><%= review.title %><br>

    <strong>Review Rating: </strong><%= review.rating %><br>

    <strong>Review Description: </strong><%= review.content %><br>

    <strong>Review Picture: </strong><%= review.picture %><br>


    <%= link_to "Delete Review #{review.id}", "/reviews/#{review.id}", method: :delete %>
    <%= link_to "Edit Review", "/shelters/#{@shelter.id}/reviews/#{review.id}/edit" %>
    <br>
    <br>
    </section>
    <% end %>


</body>
