<h1>Favorite Pets</h1>

    <% if favorites.total_count > 0 %>
      <%= link_to "Remove All Favorited Pets", "/favorites", method: :delete %>
      <%= link_to "Adopt Your Favorite Pets", "/applications/new" %>
    <% end %>

  <body class="display">
    <% if favorites.total_count == 0 %>
      <strong>You have no favorite pets.</strong><br>
    <% else %>
      <% favorites.contents.each do |favorite| %>
      <section class="block" id="favorite-<%= favorite["id"] %>">>
        <%="#{favorite["image"]}" %> <br>
        <strong>Favorite Pet Name: </strong> <%= link_to "#{favorite["name"]}", "/pets/#{favorite["id"]}" %> <br>
        <%= button_to "Unfavorite This Pet", "/favorites/#{favorite["id"]}", method: :delete %>
        <br>
        <br>
      </section>
      <% end %>
    <% end %>
<h2>Pets With Applications On Them:</h2>

<% applications.each do |application| %>
  <% application.pets.each do |pet| %>
    <<ul>
      <%= link_to "#{pet.name}", "/pets/#{pet.id}" %> %>
    </ul>
  <% end %>
<% end %>
  </body>
