<h1>Application for: <%=@application.name %> </h1>


<strong>Applicant's Name: <%=@application.name%></strong>
<strong>Applicant's Address: <%=@application.address%></strong>
<strong>Applicant's City: <%=@application.city%></strong>
<strong>Applicant's State: <%=@application.state%></strong>
<strong>Applicant's Zip: <%=@application.zip%></strong>
<strong>Applicant's Phone Number: <%=@application.phone%></strong>
<strong>Applicant's Name: <%=@application.description%></strong>


  <% @application.pets.map do |pet| %>
  <section class="pet-<%=pet.id%>">
<<<<<<< HEAD

  <%= link_to "#{pet.name}", "/pets/#{pet.id}"%>
  <% if pet.applications.none? {|application| application.status == "approved"} %>
    <%= link_to "Approve Pet", "/pets/#{pet.id}/applications/#{@application.id}", method: :patch %>
=======
    <% unless pet.adoption_status == "pending" %>
      <%= check_box_tag("#{pet.id}") %>
    <% end %>
    <%= link_to "#{pet.name}", "/pets/#{pet.id}"%>

    <% if pet.adoption_status == "pending" %>
      <%= link_to "Unapprove This Pet's Application", "/pets/#{pet.id}/applications/#{@application.id}", method: :patch %>
    <% else %>
      <%= link_to "Approve Pet", "/pets/#{pet.id}/applications/#{@application.id}", method: :patch %>
    <% end %>
  </section>
>>>>>>> master
  <% end %>
  </section>
  <% end %>
