<h1>Application for: <%=@application.name %> </h1>


<strong>Applicant's Name: <%=@application.name%></strong><br>
<strong>Applicant's Address: <%=@application.address%></strong><br>
<strong>Applicant's City: <%=@application.city%></strong><br>
<strong>Applicant's State: <%=@application.state%></strong><br>
<strong>Applicant's Zip: <%=@application.zip%></strong><br>
<strong>Applicant's Phone Number: <%=@application.phone%></strong><br>
<strong>Applicant's Name: <%=@application.description%></strong><br>


  <% @application.pets.map do |pet| %>
  <section class="pet-<%=pet.id%>">

  <%= link_to "#{pet.name}", "/pets/#{pet.id}"%>
  <%= link_to "Approve Pet", "/pets/#{pet.id}/applications/#{@application.id}", method: :patch %>
  </section>
  <% end %>
