<h1>Application for: <%=@application.name %> </h1>


<strong>Applicant's Name: <%=@application.name%></strong>
<strong>Applicant's Name: <%=@application.address%></strong>
<strong>Applicant's Name: <%=@application.city%></strong>
<strong>Applicant's Name: <%=@application.state%></strong>
<strong>Applicant's Name: <%=@application.zip%></strong>
<strong>Applicant's Name: <%=@application.description%></strong>
