
<h1>All Pets</h1>

  <body class="display">

  <% @pets.each do |pet| %>
    <section class="block" id="pet-<%=pet.id%>">
      <%= "#{pet.image}" %> <br>
      <strong>Name: </strong> <%= link_to "#{pet.name}", "/pets/#{pet.id}" %> <br>
      <strong>Approximate Age: </strong>  <%= "#{pet.approximate_age}" %> <br>
      <strong>Gender: </strong>  <%= "#{pet.sex}" %> <br>
      <strong>Pet's Shelter: </strong>  <%= link_to "#{pet.shelter.name}", "shelters/#{pet.shelter_id}" %> <br>
      <% if pet.adoption_status == "pending" %>
      <strong>Current Status:</strong> On Hold for <%=link_to pet.applications.find {|application| application.status == "approved"}.name, "applications/pet.applications.find {|application| application.status == "approved"}.id"  %> <br>
      <% end %>

      <%= link_to "Update Pet #{pet.id}", "pets/#{pet.id}/edit" %>
      <% unless pet.adoption_status == "pending" %>
        <%= link_to "Delete Pet #{pet.id}", "pets/#{pet.id}", method: :delete %>
      <% end %>
      <br>
      <br>
      <% end %>
    </section>
  </body>
