<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |type, message| %>
    <section class=<%= type %>>
      <p><%= message %></p>
    </section>
    <% end %>

    <nav class="navigation">
      <%= link_to "See All Shelters", "/shelters" %>
      <%= link_to "See All Pets", "/pets" %>
      <%= link_to "Favorite Pets: #{favorites.total_count}", "/favorites", class: "link" %>
    </nav>

    <%= yield %>
  </body>
</html>
